.challengeContainer {
  display: grid;
  grid-template-rows: 4fr 1fr;
  height: calc(100vh - 50px);
}

.challengeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #181818;
}

.challengeGoalContainer {
  border-top: 1px solid #5b5b5b;
  background-color: #0a0a0a;
  padding: 20px;
  font-size: 0.8rem;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.challengeGoalTitle {
  font-size: 1.2rem;
  color: rgb(220, 145, 95);
}

.challengeSelectorContainer {
  padding: 20px 0 0 20px;
  display: flex;
  gap: 20px;
  background-color: #181818;
}

.challengeSelectorContainer > label,
.challengeSelectorContainer > select {
  display: block;
}

.challenge {
  cursor: pointer;
}

.challenge:hover {
  color: rgb(210, 170, 144);
}

.challengeSelected {
  color: rgb(220, 145, 95);
  cursor: pointer;
}

.challengeSelectorLabel {
  font-size: 0.8rem;
  color: rgb(220, 145, 95);
}

.challengeGoal {
  font-size: 0.8rem;
  color: #bbb;
}
